@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Lato;
  
}
/* Base styles for the navbar */
/* Base styles */
.navbar {
  background-color: black;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  /*z-index: 999;*/

}

.logo {
  /* color: #f2f2f2;
  text-decoration: none; */
  /* font-size: 1.5em; Adjust the logo size as needed */
    display: inline-block; /* Or 'block' if preferred */
    margin-top: 10px; /* Adjust as needed */
    margin-bottom: 10px; /* Adjust as needed */
    padding: 5px; /* Optional padding around the logo */
}

.logo img {
    height: auto; /* Maintain aspect ratio */
    width: 70px; /* Example size, adjust as needed */
    /* Add a transition effect for the hover state, if desired */
    transition: transform 0.2s ease-in-out;
}

.logo:hover img {
    transform: scale(1.1); /* Slightly increase the size on hover */
}
.service img.in-view :hover{
  transform: scale(1.1); /* Slightly increase the size on hover */
}
.navbar a {
  color: #f2f2f2;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 0.9em; /* Adjust link text size as needed */
}
.navbar-right {
  align-items: center;
  display: flex;
    text-align: right;
    padding: 10px; /* Adjust the padding as needed */
    color: white; /* Text color */
} 
  

.navbar-link {
    text-decoration: none; /* Removes the underline from the links */
    color: white; /* Sets the link color to white */
    font-size: 18px; /* Sets the font size for the links */
    margin-left: 15px; /* Spacing between the links */
}

.navbar-link .icon {
    margin-right: 5px; /* Spacing between the icon and the text */
}

/* Styles for the icons */
.navbar-link .icon {
    font-style: normal; /* Ensures that the icon text isn't italicized */
    color: #f5f2f2; /* Sets the icon color */
}

.navbar-link.email::before {
    content: "\f0e0"; /* FontAwesome icon code for envelope */
    margin-right: 5px;
}


/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .navbar-right {
        text-align: center; /* Centers the links on smaller screens */
    }
}
.navbar a:hover,
.logo:hover {
  /* background-color: #ddd; */
  color: white;
}

/* .navbar-right {
  display: flex;
} */

/* Hamburger menu */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  height: 25px; /* Height of the hamburger icon */
}

.hamburger div {
  background-color: #f2f2f2;
      height: 3px; /* Height of one line of the hamburger icon */
  width: 30px; /* Width of the hamburger icon */
  border-radius: 3px;
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px 0;
  }

  .navbar a,
  .logo {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  .navbar-right {
    flex-direction: column;
    width: 100%;
    display: none; /* Hide links initially */
  }

  .hamburger {
    display: flex; /* Show the hamburger icon */
  }

  /* When the hamburger menu is toggled to 'active', display the links */
  .navbar-right.active {
    display: flex;
  }
  .option-item{
    display: none;
  }
}

/* hero section starting  */
.hero-section {
  background-image: url("assets/bg.png"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  padding: 50px; /* Adjust the padding as needed */
  display: flex;
  align-items: center; /* Aligns vertically */
  justify-content: flex-start; /* Aligns horizontally to the left */
  color: #070707; /* Adjust the text color as needed */
  text-align: left; /* Aligns text to the left */
  height: 50vh; /* Set to the height of the viewport */
}


.hero-content {
  max-width: 60%; /* Adjust the max-width as needed */

 
}

.hero-content h1 {
  font-weight: 600;
  font-size: 2.5em; /* Adjust the size as needed */
  margin-bottom: 20px; /* Adds space below the heading */
  /*transform: translateY(100px);*/
  /*animation: slideUp .8s ease forwards .5s;*/
}

.hero-content p {
  font-size: 1.2em; /* Adjust the size as needed */
  /* margin-bottom: 37px; */
  /*transform: translateY(300px);*/
   /*animation: slideUp .8s ease-in-out forwards .8s;*/
}

.cta-button1{
  background-color: #ec0200; /* Adjust button background color as needed */
  color: #fff !important; /* Adjust button text color as needed */
  padding: 15px 30px; /* Adjust padding as needed */
  text-decoration: none; /* Removes underline from the link */
  font-weight: bold; /* Makes the button text bold */
  border-radius: 5px; /* Adds rounded corners to the button */
  /*transform: translateY(70px);*/
  /*animation: slideUp .8s ease-in-out forwards .9s;*/
}



@keyframes popup {
  from {
      transform: scale(0.5);
      opacity: 0;
  }

  to {
      transform: scale(1);
      opacity: 1;
  }
}

.cta-button1:hover {
  background-color: #811313; /* Darker shade for hover effect */
  /* transform: translateY(-3px); */
}
@media (max-width: 380px){
.solutions-grid { 
  grid-template-columns: 1fr !important;
}
}

    @media (max-width: 500px) {
        .hero-content h1{
        margin-bottom: 10px !important;
    }
 }
@media (max-width: 500px) {
  .hero-section {
    /* margin-top: 149px !important; */
    padding: 29px 15px !important;
  }
  .hero-content h1 {
    font-size: 1.25em !important; /* Smaller font size for h1 on small screens */
  }
  .cta-button1 {
    padding: 9px 9px !important;
    font-size: 9px;
}

}
@media  (min-width: 500px) and (max-width: 768px){
  .solutions-footer {
    flex-flow: wrap!important;
    
}
}
@media (min-width: 1850px)  {
  .hero-section {
    padding: 140px;
  }
}
@media (max-width: 768px) {
  .hero-section {
    /* margin-top: 189px; */
    /* padding: 20px; Reduced padding for smaller screens */
    height: auto; /* Adjust height for smaller screens */
  }

  .hero-content h1 {
    font-size: 2em; /* Smaller font size for h1 on small screens */
  }

  .hero-content p {
    font-size: 1em; /* Smaller font size for paragraph on small screens */
  }

  .cta-button1 {
    padding: 10px 20px; /* Smaller padding for button on small screens */
  }
 

}
@media (min-width: 769px) and (max-width: 2500px) {

.hero-section {
  /* margin-top: 100px; */
  /*height: calc(90vh - 50px);*/
  height: calc(50vW - 100px);
padding: 0px 40px!important;
}
}

/* Tablet and Medium Devices */
@media (min-width: 769px) and (max-width: 1024px) {
  .hero-content {
    max-width: 50%; /* Adjust the max-width for medium screens */
  }
  
}

/* Large Devices - Desktops */
@media (min-width: 1025px) {
  .hero-content {
    max-width: 600px; /* Adjust the max-width for large screens */
  }
}

.solutions-footer {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  font-weight: bold;
  background-color: #da1010; /* Dark background based on your image */
  color: #fff; /* White text color */
}
@media (max-width: 768px) {
  .solutions-footer {
    flex-direction: column;
    text-align: center;
  }
 
}
.solutions-footer { 
    color: #fff; /* White text color */
     display: flex;
     justify-content: space-around;
     padding: 26px 0; /* Vertical padding */
     text-align: center;
    
 }
 
 .footer-item {
     margin: 0 10px; /* Horizontal spacing */
     display: flex;
     flex-direction: row;
     align-items: center; /* Center align the content for each item */
 }
 
 .footer-item .icon img {
     margin-bottom: 10px; /* Space between the icon and the text */
 }
 
 /* Bold the number in the text */
 .footer-item strong {
     font-weight: bold;
     display: block; /* Make the bold number its own line */
 }
 
 .footer-item .icon img {
  height: auto;
  width: 74%; /* Example size, adjust as needed */
  transition: transform 0.3s ease;
}
.footer-item .icon img:hover {
  transform: scale(1.1);
  /* Image grows slightly on hover */
}
 @media (max-width: 768px) {
     .solutions-footer {
         flex-direction: column;
     }
 
     .footer-item {
             text-align: left !important;
         margin-bottom: 20px; /* Add bottom margin for stacking */
             padding-left: 14%;
     }
 }
 
 
.challenges {
  text-align: center;
  margin: 0;
  padding: 40px;
}

.challenge-grid {
  color: black;
  margin-bottom: 12px;
  display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the space between boxes */
}

.challenge-item {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Adjust as needed */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  animation: fadeIn 1s ease-in-out forwards;
  transition: transform 0.2s ease-in-out;
  opacity: 0;
  width: 30%;
}
.challenge-item:hover {
  transform: translateY(-10px);
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.challenge-item img {
  width: 50px; /* Adjust as needed */
  height: auto;
  margin-bottom: 10px;
}
.challenges h2 {
        margin-top: 27px;
  color: black;
    text-align: center; /* Centers the text */
    font-size: 46px; /* Large font size for headings */
    /*font-weight: bold; /* Bold font weight *
    margin-top: 20px; /* Spacing above the heading */
    margin-bottom: 20px; /* Spacing below the heading */
}
@media (max-width: 768px) {
    .challenges h2 {
      font-size: 28px; /* Smaller font size for mobile devices */
    }
  }
.challenge-item h3 {
  color: #333; /* Adjust as needed */
  margin-bottom: 10px;
}

#cta-button2 {
    background-color: #FF4136; /* Bright red background, adjust the color code as needed */
    color: white; /* White text color */
    border: none; /* No border */
    padding: 15px 30px; /* Top and bottom padding of 15px, left and right padding of 30px */
    font-size: 18px; /* Font size of 18px */
    font-weight: bold; /* Bold font weight */
    text-transform: uppercase; /* Uppercase text */
    border-radius: 5px; /* Rounded corners with a radius of 5px */
    cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

#cta-button2:hover {
    background-color: #811313; /* Slightly darker shade of red for the hover state */
}
#cta-button2:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 0 2px #fff; /* Optional: Adds a white outline when the button is focused */
  }

@media (max-width: 768px) {
  .challenge-grid {
    grid-template-columns: 1fr; /* Stack items on smaller screens */
  }
}
.challenge-item img {
  width: 120px; /* Adjust based on actual icon size */
  height: auto;
  margin: 15px;
}

/* Responsive adjustments for better viewing on all devices */
@media (max-width: 1024px) {
  .challenge-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for tablet view */
  }
}

@media (max-width: 768px) {
  .challenge-grid {
    flex-direction: column;
  }
  .challenge-item {
    width: 100%;
  }
  .service img {
    width: 76% !important;
  }
}
.about {
  text-align: center;
  padding: 20px;
  background: #f8f8f8;
}

.about h1 {
  color: #000;
  font-size: 2.5em; /* 40px/16=2.5em */
  margin: 24px;
}

.about p {
   font-size: x-large;
  margin-bottom: 20px;
  color: #666;
}

/* Services Section */
.services {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  gap: 20px; /* Add space between the services */
}

.service {
  flex: 0 1 30%; /* Flex basis of 30% with wrapping */
  background: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out forwards;
  transition: transform 0.2s ease-in-out;
}
.service:hover {
  transform: translateY(-10px);
}
.service img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.service h2 {
  font-size: 1.5em; /* 24px/16=1.5em */
  color: #333;
  margin: 20px 0;
}

.service p {
  font-size: 1em; /* 16px */
  color: #666;
  line-height: 1.5;
}

/* Button Style */
.services-button {
  font-size: 1em; /* 16px */
  color: #fff;
  background-color: #ec0200;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6e0202;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .services {
    flex-direction: column;
    align-items: center;
  }

  .service {
    flex-basis: 80%;
  }
}
.testimonials {
    text-align: center;
    padding: 40px;
    background: #f0f0f0;
  }
  
  .testimonials h2 {
    font-size: 3em;
    color: #000;
    margin-bottom: 30px;
  }
  .video-container {
    display: flex;
  justify-content: space-around;
    /*gap: 20px;*/
}

.video-box {
    /* background-color: #333; */
    padding:5px;
    color: #fff;
    width: 220px;
    height: 400px;
    /*width: 200px;*/
    /* You can adjust this */
    /*height: 300px;*/
    /* You can adjust this */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .video-container {
        flex-direction: column;
        align-items: center;
    justify-content: center;
    }

    .video-box {
        width: 80%;
        /* Full width for smaller screens */
        margin-bottom: 20px;
    }
}

/* ... previous styles ... */

.video-box video {
    width: 100%;
    /* Make iframe take the full width of the container */
    height: 100%;
    /* Make iframe take the full height of the container */
    border-radius: 10px;
    /* Rounded corners for the iframe */
}

/* ... previous styles ... */

@media (max-width: 768px) {
    /* ... previous media query styles ... */
}
  
  @media (max-width: 768px) {
    .testimonial-cards {
      flex-direction: column;
    }
  
    .testimonial-card {
      flex-basis: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .health-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: #e91307; /* Adjust the color to match your brand red */
  }
  
  .banner-content > div {
    padding: 20px;
    margin-left: 24px;
    flex-basis: 50%; /* Adjust as needed */
  }
  
  .banner-content h1 {
    font-weight: 100;
    /* font-size: 2.5em; Adjust size as needed */
    margin-bottom: 1em;
  }
  
  .banner-content-button {
    background-color: black; /* Adjust button color as needed */
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    /* font-size: 1em; */
    border-radius: 17px;
    text-transform: uppercase; /* Stylistic choice for button text */
  }
  
  .health-banner > div:last-child {
    flex-basis: 50%; /* Adjust as needed */
  }
  
  .health-banner img {
    max-width: 100%;
    height: auto;
    display: block; /* Remove any extra space below the image */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .health-banner {
      flex-direction: column;
      text-align: center;
    }
  
    .banner-content > div, .health-banner > div:last-child {
      flex-basis: auto; /* Take up the full width of the container */
    }
  
    .health-banner img {
      /* Optional: adjust how the image should behave on smaller screens */
      width: 100%; /* Full width of the container */
      max-height: 300px; /* Maximum height to ensure it's not too large */
      object-fit: cover; /* Adjust the object fit if needed */
    }
  }

footer {
    border-top: groov;
    background: #313131; /* Black background for the footer */
    padding: 40px 20px; /* Padding for the footer */
  }
  
  .contact-section {
    display: flex;
    justify-content: space-around;
    max-width: 1080px; /* Max width to match the image's layout */
    margin: 0 auto; /* Center the section */
  }
  
  .contact-info h1 {
    font-size: 2em; /* Large font size for the heading */
    margin-bottom: 0.5em;
    color: #ddd;
  }
  
  .contact-info p {
    font-size: 1em; /* Standard font size for the paragraph */
    color: #ddd;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    /*max-width: 50%;  Taking up half the width of the contact section */
  }
  
  .form-group {
    display: flex;
    gap: 20px; /* Space between the first name and last name inputs */
    margin-bottom: 20px; /* Space after the group */
  }
  
  .form-group input, .contact-form input, .contact-form textarea {
    background: transparent;
    border: 1px solid;
    padding: 5px 20px;  
    color: white;
    /* border-radius: 6px ; */
  }
  
  .contact-form textarea {
    min-height: 100px; /* Minimum height for the textarea */
    margin-bottom: 13px;
    margin-top: 13px;
  }
  
  .contact-form button {
    background: #fa1003; /* Bright red background for the button */
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 0; /* Square button edges */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .contact-section {
      flex-direction: column;
      text-align: center;
    }
  
    .contact-info, .contact-form {
      max-width: 100%; /* Full width for mobile */
      padding: 10px
    }
  
    .form-group {
      flex-direction: column;
    }
  
    /* .form-group input {
      /* width: 100%; 
    } */
  
    .contact-form button {
      width: 100%; /* Full width for button on mobile */
    }
  }
  .main-container {
    text-align: center;
    background-image: url('assets/bg.jpg'); /* Replace with your actual image path */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
  
    margin: 0 auto;
    padding: 20px;
    
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 0.5em;
}

.introduction {
    font-size: 1em;
    color: #666;
    margin-bottom: 2em;
}

.benefits-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adjust the space between boxes */
  width: 30%;
}

.benefit {
    background: #eee;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.benefit h2 {
    color: #d54d50;
    margin-bottom: 0.5em;
}

@media (max-width: 768px) {
    .benefits-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .main-container {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }
}

    /* Initial state for the service images */
    .service img {
        transform: scale(0);
        transition: transform 0.5s ease-out;
    }

    /* State when the service image is in view */
    .service img.in-view {
        transform: scale(1);
    }

    /* Initial state for the service descriptions */
    .service {
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }

    /* State when the service description is in view */
    .service.in-view {
        opacity: 1;
    }

    /* Button hover effect */
    .services-button,.cta-button1 {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
        /* Indicate it's clickable */
    }

    .services-button:hover ,.cta-button1:hover {
        transform: translateY(-3px);
        /* Moves the button up slightly */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* Simple popup animation for the modal */
    @keyframes popup {
        from {
            transform: scale(0.5);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    /* Modal styles */
    .modal {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background: white;
        padding: 20px;
        border-radius: 5px;
        animation: popup 0.5s;
    }

    .items {
        display: flex;
        justify-content: space-around;
        /* flex-wrap: wrap; */
        margin-top: 20px;
    }

    .item {
        /* margin: 10px; */
        font-weight: 600;
        font-size: x-large;
    }

    .item img {
        width: 135px;
        /* Adjust size as needed */
        height: auto;
        transition: transform 0.3s ease;
    }

    .item img:hover {
        transform: scale(1.1);
        /* Image grows slightly on hover */
    }

    .description {
        margin-top: 10px;
        color: #fff;
        background-color: #ff0000;
        padding: 10px;
        transition: background-color 0.3s ease;
    }

    .description:hover {
        background-color: #cc0000;
        /* Darken background on hover */
    }

    .red-bg {
        background-color: #ff0000;
    }

    @media (max-width: 768px) {
        .items {
            flex-direction: column;
            align-items: center;
        }
.description {
        font-size: large;
}
        .item {
            width: 80%;
        }

        .item img {
            width: 30%;
            /* Larger size for smaller screens */
        }
    }

    .content {
        text-align: center;
        padding: 20px;
    }

    .steps {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 46px;;
    }

    .step {
        background-color: #ff0000;
        color: #fff;
        padding: 20px;
        width: 200px;
        /* Or any other fixed width */
        border: 3px solid #ff0000;
        transition: border-color 0.3s ease;
        border-radius: 15px;
        /* Rounded corners */
    }

    .step:hover {
        border-color: #000;
    }

    .icon {
        font-size: 50px;
    }

    button {
        background-color: #ff0000;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 18px;
        margin-top: 30px;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #cc0000;
    }

    @media (max-width: 768px) {
        .steps {
            flex-direction: column;
            align-content: center;
        }

        .step {
            width: 80%;
            /* Full width on smaller screens */
            margin-bottom: 20px;
            border-radius: 10px;
            /* Slightly smaller radius on smaller screens */
        }
    }

    .container {
        text-align: center;
        padding: 20px;
    }

    @keyframes slideUp {
        0% {
            transform: translateX(-300px);
        }

        100% {
            transform: translateX(0px);
        }
    }
    
    